<div class="tariff-item blast">
  <div class="tariff-title-container">
    <h3>BLAST</h3>
    <svg>
      <use href="../img/sprite.svg#blast"></use>
    </svg>
  </div>

  <div class="tariff-info-list">
    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#play"></use>
        </svg>
        <h5>Starter kit for tattoo artists</h5>
      </div>
      <p>Everything you need to start your tattoo journey, all in one kit</p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#task"></use>
        </svg>
        <h5>Mastering tattoo design software</h5>
      </div>
      <p>
        Master Procreate to bring your tattoo ideas to life with precision and
        creativity
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#check"></use>
        </svg>
        <h5>Creating unique designs</h5>
      </div>
      <p>Develop your own signature style and stand out in the tattoo world</p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#blank"></use>
        </svg>
        <h5>Ink selection and mixing guidance</h5>
      </div>
      <p>
        Master the techniques of selecting and blending inks for flawless,
        vibrant tattoos
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#check"></use>
        </svg>
        <h5>Tattoo machine setup and tuning</h5>
      </div>
      <p>
        Gain the knowledge to ensure your equipment works smoothly and
        efficiently
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#task"></use>
        </svg>
        <h5>Tattoo placement and composition</h5>
      </div>
      <p>
        Explore the art of positioning and arranging your designs for a balanced
        and visually appealing composition
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#blank"></use>
        </svg>
        <h5>4 in-person practice sessions</h5>
      </div>
      <p>Hone your skills with hands-on experience under expert guidance</p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#knowlange"></use>
        </svg>
        <h5>Certificate upon course completion</h5>
      </div>
      <p>
        Official recognition of your progress and readiness to take on clients
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#folder"></use>
        </svg>
        <h5>Assistance with portfolio creation</h5>
      </div>
      <p>
        Build a portfolio that showcases your talents and attracts potential
        customers
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#plus"></use>
        </svg>
        <h5>Marketing secrets for tattoo artists</h5>
      </div>
      <p>
        Learn strategies to effectively promote yourself and grow your clientele
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#plus"></use>
        </svg>
        <h5>A great time well spent</h5>
      </div>
      <p>
        Enjoy a fulfilling learning experience in a creative and motivating
        environment with the talented artists from our studio
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#comment"></use>
        </svg>
        <h5>Detailed feedback from professionals</h5>
      </div>
      <p>
        Receive tailored advice to help you improve your technique and artistry
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#locate"></use>
        </svg>
        <h5>Opportunity to join our team</h5>
      </div>
      <p>
        Exceptional graduates may have the chance to collaborate with us on
        future projects
      </p>
    </div>

    <div class="tariff-info-item">
      <div class="tariff-info-title-container">
        <svg>
          <use href="../img/sprite.svg#locate"></use>
        </svg>
        <h5>
          2 days of personal<br />
          mentorship from Demus
        </h5>
      </div>
      <p>
        After the course, you'll have a private session to work on your own
        client with Demus, who will guide you and answer any questions.
      </p>
    </div>
  </div>

  <div class="tariff-price-container">
    <span class="current">6990$</span>
    <span class="old">8990$</span>
  </div>

  <div class="tarif-button">
    <button class="join-hero-link" href="" style="margin-bottom: 20px">
      <span
        class="join-hero-link-bage"
        style="background-color: white; color: black"
        >Choose and proceed</span
      >
      <span class="join-hero-link-icon">
        <svg>
          <use href="../img/sprite.svg#arrow"></use>
        </svg>
      </span>
    </button>
    <button class="join-hero-link" href="">
      <span
        class="join-hero-link-bage"
        style="background-color: white; color: black"
        >Consultation</span
      >
      <span class="join-hero-link-icon">
        <svg>
          <use href="../img/sprite.svg#arrow"></use>
        </svg>
      </span>
    </button>
  </div>

  <div class="tariff-bottom-marker">
    <span>[ 003 ] </span>
    <span>[ choose ] </span>
  </div>
</div>
