<section class="hero-section">
  <div class="container">
    <div class="just-a-month-block">
      <svg>
        <use href="./img/sprite.svg#saturn"></use>
      </svg>

      <p>Just a month away from creating your first tattoo</p>
      <svg>
        <use href="./img/sprite.svg#glob"></use>
      </svg>
    </div>

    <div class="hero-title-block">
      <p>create your legacy</p>
      <h1>
        Tattooing<br />
        from scratch
      </h1>
      <button class="join-hero-link" href="">
        <span class="join-hero-link-bage">
          JOIN THE COURSE
          <img class="border1" src="./img/border.png" alt="border" />
          <img class="border2" src="./img/border.png" alt="border" />
          <img class="border3" src="./img/border.png" alt="border" />
          <img class="border4" src="./img/border.png" alt="border" />
        </span>
        <span class="join-hero-link-icon">
          <svg>
            <use href="./img/sprite.svg#arrow"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="hero-who-is-block">
      <h3 class="title who-is-title">Who is this course for?</h3>

      <div class="who-is-block">
        <div class="who-is-main-block">
          <div class="who-is-item">
            <div class="who-is-item-number">
              <span class="first">_001/</span>
              <span class="second">004</span>
            </div>

            <h4>newbies</h4>

            <p>
              Never held a tattoo machine? No problem! This course will take you
              from zero to your first masterpiece
            </p>

            <svg>
              <use href="./img/sprite.svg#newbies"></use>
            </svg>
          </div>
        </div>

        <div class="who-is-list">
          <div class="who-is-item">
            <div class="who-item-icon-block">
              <div class="who-is-item-number">
                <span class="first">_002/</span>
                <span class="second">004</span>
              </div>

              <svg>
                <use href="./img/sprite.svg#young"></use>
              </svg>
            </div>
            <h4>Young Professionals</h4>

            <p>
              Already have a few tattoos and thinking about taking your skills
              to the next level? We’ll help you refine your technique and build
              the confidence
            </p>
          </div>
          <div class="who-is-item">
            <div class="who-item-icon-block">
              <div class="who-is-item-number">
                <span class="first">_003/</span>
                <span class="second">004</span>
              </div>

              <svg>
                <use href="./img/sprite.svg#advanced"></use>
              </svg>
            </div>
            <h4>Advanced Learners</h4>

            <p>
              Got the basics down? Time to kick it up a notch! This course will
              sharpen your skills and teach you the advanced techniques that
              turn good tattoos into great ones
            </p>
          </div>
          <div class="who-is-item">
            <div class="who-item-icon-block">
              <div class="who-is-item-number">
                <span class="first">_004/</span>
                <span class="second">004</span>
              </div>

              <svg>
                <use href="./img/sprite.svg#veterans"></use>
              </svg>
            </div>
            <h4>Tattoo Veterans</h4>

            <p>
              Seen it all, inked it all? Almost! This course will refresh your
              skills, introduce new trends, and give you a few tricks even
              seasoned pros can appreciate.
            </p>
          </div>
          <div class="who-is-item full">
            <div>
              <svg>
                <use href="./img/sprite.svg#symbol_line"></use>
              </svg>
              <svg>
                <use href="./img/sprite.svg#symbol_line"></use>
              </svg>
            </div>
            <p>
              To be able to participate in this course you must be over 18 years
              old
            </p>
            <div>
              <svg>
                <use href="./img/sprite.svg#symbol_line"></use>
              </svg>
              <svg>
                <use href="./img/sprite.svg#symbol_line"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
