<div id="consultationPopup" class="popup-overlay">
  <div class="popup-content">
    <span class="popup-close">&#10005;</span>
    <div class="popup-title-container">
      <p>JOIN THE COURSE</p>
      <svg>
        <use></use>
      </svg>
    </div>

    <form>
      <div class="form-container">
        <div class="form-input-container">
          <input id="name" type="text" />

          <label for="name">Full Name</label>
        </div>
        <div class="form-input-container">
          <input id="email" type="email" />

          <label for="email">E-mail</label>
        </div>
        <div class="form-input-container">
          <input id="tel" type="tel" />
          <label for="tel">Phone number*</label>
        </div>
      </div>

      <button class="join-hero-link" href="" style="margin: 0 auto">
        <span class="join-hero-link-bage"
          >Consultation
          <img class="border1" src="./img/border.png" alt="border" />
          <img class="border2" src="./img/border.png" alt="border" />
          <img class="border3" src="./img/border.png" alt="border" />
          <img class="border4" src="./img/border.png" alt="border"
        /></span>
        <span class="join-hero-link-icon">
          <svg>
            <use href="./img/sprite.svg#arrow"></use>
          </svg>
        </span>
      </button>

      <div class="popup-bottom-text">
        <p>By sending this form I confirm that I have read and accept the</p>
        <a href="">Privacy Policy</a>
      </div>
    </form>
  </div>
</div>
